@value colors: "../../theme/colors.css";
@value sizes: "../../theme/sizes.css";
@value primary-button from colors;
@value block-size from sizes;
@value main-padding-size from sizes;
@value light-font-color from colors;
.infoForm{
    margin:0;
    position: relative;
}

.submitBtn{
    background-color:primary-button;
    color: white;
    border:none;
    font-size:14px;
    font-weight: bold;
    margin-top: block-size;
    padding:1rem;
    width:100%;
} 


/* this should be in a generic section */
section:global{
    padding:block-size main-padding-size;
} 
